scripts/vcpkg/buildtrees/
*.tlog
*.cache

# IDE settings
.vscode/

# Editor swap/backup files
*~

# Runtime logs and data
logs/
terminal.log*
candle_data/
data/

# VS CMake out-of-source builds
build_vs_dbg/
build_vs_rel/

# Ignore Windows reserved filenames
CON

# Ignore dependency directories
vcpkg/
scripts/vcpkg/
vcpkg_installed/
node_modules/
src/UNKNOWN.egg-info/
dist/
